@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

body{
    font-family: Nunito;
    color: #444;
}
h2{
    background-color: #DAF9E6;
}
p{
    background-color: #DAF9E6;
}
i{
    background-color: #F5D4C2;
}
b{
    background-color: #F5D4C2;
}